{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}
<ul class="breadcrumb">
    <li><a href="#">{% blocktrans with profile.user.username as username %}Account</a> <span class="divider">/</span></li>
    <li><a href="#">{{ username }}{% endblocktrans %}</a> </li>
</ul>
{% endblock %}

{% block content %}
<div class="span3">
    {% include "userena/nav_settings.html" %}
</div>

<div class="span9">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Edit Profile" %}</legend>
        <form action="" enctype="multipart/form-data" method="post">
        {{ form.as_p }}
    </fieldset>
    <input type="submit" class="btn" value="{% trans "Save changes" %}" />
        </form>
</div>
{% endblock %}
